@font-face {
    font-family: iransans;
    src: url("../font/iransans/iransans.ttf");
}
.app {
    font-family: iransans;
    direction: rtl;
    text-align: right;
}
.app .user {
    padding: 5%;
}
.app .welcome {
    background: #555;
    height: 100vh;
    padding: 10%;
    color: white;
    text-shadow: 2px 7px 5px black, 
    0px -4px 10px black;
    text-align: center;
}
.dialog {
    padding: 5%;
    border: solid 1px black;
}
.dialog .title {
    font-weight: bold;
    font-size: 15px;
}
.form {
    font-family: iransans;
    direction: rtl;
    text-align: right;
}
.tblhd {
    background-color: #f1f1f1;
}
.tblrow {
    font-size: 13px;
}
.tblrow:hover {
    background-color: #f5f5f5;
    font-weight: bold;
}
.left {
    float: left;
}
.right {
    float: right;
}
.addnew {
    color: green;
    cursor: pointer;
}
.logout {
    text-decoration: none;
    color: red;
}
.logout:hover {
    text-decoration: none;
    color: red;
}
.welink {
    color: white;
    text-decoration: none;
}
.welink:hover {
    color: gray;
}